<div class="mc-layout" mc-layout="1">
	<div class="mc-layout" mc-layout-size="biggest">

		<div class="mc-right" data-ng-if="user">
		
			<!-- Create Recruiting button -->
			<button class="mc-button mc-button-comb mc-button-raised mc-clickable" mc-action="add" data-ng-if="!waiting && !creatingRecruiting && !error" data-ng-click="createRecruiting()">Create</button>
			
			<!-- Logout button -->
			<button class="mc-button mc-button-comb mc-button-raised mc-clickable" mc-action="external" data-ng-if="!error" data-ng-click="logoutUser()">Logout</button>
		</div>

		<!-- View all recruitings -->
		<label class="mc-switcher" data-ng-show="waiting && !error && user">
			<input type="checkbox" data-ng-model="viewAllRecruitings" data-ng-checked="viewAllRecruitings" data-ng-change="setViewAllRecruitings(this)" />
			<div class="mc-switch-bg" >
				<div class="mc-switch" ></div>
			</div>
			<span class="mc-label">View all recruitings</span>
		</label>

	</div>
</div>

<!-- Recruiting list or Login Form -->
<!-- Login -->
<form class="mc-card" data-ng-show="!user" data-ng-submit="loginUser()" name="loginForm" role="form" novalidate>

	<div class="mc-header">
		<img style="border-radius: 0px!important;" src="images/logo_128.png" />
		<h1 class="mc-title">Login</h1>
	</div>
	
	<div class="mc-content">
		<span class="mc-input" style="width: calc(100% - 20px)">
			<input type="text" name="userName" data-ng-model="userName" data-ng-pattern="namePattern" required />
			<label class="mc-label">Name</label>
			<span class="mc-input-message mc-color-red" data-ng-if="!loginForm.userName.$valid && (loginForm.userName.$dirty || loginForm.$submitted)">Please, enter a valid name</span>
		</span>
		
		<span class="mc-input" style="width: calc(100% - 20px)">
			<input type="text" name="userLocation" data-ng-model="userLocation" data-ng-pattern="officePattern" required auto-complete autocomplete="off" />
			<label class="mc-label">Company - Location</label>
			<span class="mc-input-message mc-color-red" data-ng-if="!loginForm.userLocation.$valid && (loginForm.userLocation.$dirty || loginForm.$submitted)">Please, enter a valid office name</span>
			
			<div id="locationSuggestions" class="mc-autocomplete" mc-layout="list" style="max-height: 250px; overflow-x: hidden; overflow-y: auto; display: none;">
				
			</div>
		</span>
	</div>
	
	<div class="mc-footer">
		<button type="submit" class="mc-button mc-button-text">Login</button>
	</div>
</form>

<!-- New Recruiting -->
<form class="mc-card" data-ng-show="user && creatingRecruiting" data-ng-submit="saveRecruiting()" name="recruitingForm" role="form" novalidate>

	<div class="mc-header">
		<img style="border-radius: 0px!important;" src="images/logo_128.png" />
		<h1 class="mc-title">New recruiting</h1>
	</div>
	
	<div class="mc-content">
		<span class="mc-input" style="width: calc(100% - 20px)">
			<input type="text" name="description" data-ng-model="description" required />
			<label class="mc-label">Activity / Description</label>
			<span class="mc-input-message mc-color-red" data-ng-if="!recruitingForm.description.$valid && (recruitingForm.description.$dirty || recruitingForm.$submitted)">Please, enter a valid activity or description</span>
		</span>
		
		<span class="mc-input" style="width: calc(100% - 20px)">
			<input type="text" name="location" data-ng-model="user.location" disabled />
			<label class="mc-label" data-ng-class="{'mc-floating-label': user.location}">Location</label>
		</span>
		<br />
		
		<span class="mc-text">Players needed:</span>
		<br />
		<button type="button" class="mc-button mc-button-icon mc-button-raised mc-clickable" mc-action="remove" data-ng-click="decreaseMaxPlayers()" data-ng-disabled="maxPlayers <= 2"></button>
		<span class="mc-button mc-button-text mc-bg-white mc-color-twitter">{{ maxPlayers }}</span>
		<button type="button" class="mc-button mc-button-icon mc-button-raised mc-clickable" mc-action="add" data-ng-click="increaseMaxPlayers()" data-ng-disabled="maxPlayers >= 12"></button>
	</div>
	
	<div class="mc-footer">
		<button type="submit" class="mc-button mc-button-comb" mc-action="done">Create</button>
		<button type="button" class="mc-button mc-button-comb" mc-action="cancel" data-ng-click="cancelRecruiting()">Cancel</button>
	</div>
</form>

<!-- Existing recruiting -->
<div class="mc-card" data-ng-repeat="recruiting in recruitingsList | orderBy:'date':false" data-ng-if="user && recruitingsList.length >= 1 && recruitingOnMyLocation && recruiting.location == user.location && !creatingRecruiting && recruiting.completed != '1' && recruiting.cancelled != '1' && (!waiting || viewAllRecruitings || recruiting.myRecruiting )">

	<div class="mc-header">
		<img style="border-radius: 0px!important;" src="images/logo_128.png" />
		<h1 class="mc-title">{{ recruiting.description }}</h1>
		<h2 class="mc-subtitle">Created: {{ recruiting.date }}</h2>
	</div>
	
	<div class="mc-content" mc-layout="list">
		<h1 class="mc-subtitle mc-right">Players: {{ recruiting.players.length }} / {{ recruiting.maxPlayers }}</h1>
		<div class="mc-list-item" data-ng-repeat="player in recruiting.players">
			<p class="mc-text">{{ player }}</p>
		</div>
	</div>
	
	<div class="mc-footer">
		
		<!-- Add me -->
		<button class="mc-button mc-button-comb" mc-action="done" data-ng-click="recruiting.addPlayer()" data-ng-if="recruiting.players.length < recruiting.maxPlayers && recruiting.players.indexOf( user.name ) < 0 && !waiting">Add me!</button>
		
		<!-- Remove me -->
		<button class="mc-button mc-button-comb" mc-action="cancel" data-ng-click="recruiting.removePlayer()" data-ng-if="recruiting.players.length < recruiting.maxPlayers && recruiting.players.indexOf( user.name ) >= 0 && waiting">Cancel</button>
	</div>
</div>

<!-- No recruiting -->
<div class="mc-card" data-ng-if="user && !error && (recruitingsList.length < 1 || !recruitingOnMyLocation) && !creatingRecruiting">
	<div class="mc-content">
		<p class="mc-text">No active recruitings on:</p>
		<div mc-layout="list">
			<div class="mc-list-item" mc-action="location">
				<p class="mc-title">{{ user.location }}</p>
			</div>
		</div>
	</div>
</div>

<!-- Error -->
<div class="mc-card" data-ng-if="error" style="border: 1px solid #C62828;">
	<div class="mc-content">
		<p class="mc-text mc-color-darkred">There was a connection error.</p>
		<p class="mc-note mc-color-darkred">Please, wait a few minutes while we try to solve the problem.</p>
	</div>
</div>

<button id="refresh" style="display: none;" class="mc-button mc-button-comb mc-button-raised mc-clickable" mc-action="refresh" data-ng-click="refreshPage()">Refresh</button>
