<div class="mc-layout" mc-layout="2">

	<div class="mc-layout" mc-layout-size="small">
		<div class="mc-card">
			<div class="mc-content">
				<img src="images/logo.png" />
			</div>
		</div>
	</div>
	
	<div class="mc-layout" mc-layout-size="big">
		<div class="mc-card">
			<div class="mc-header">
				<h1 class="mc-title">Team UP!</h1>
				<h2 class="mc-subtitle">A Chrome extension</h2>
			</div>
			<div class="mc-content">
				<p class="mc-text">Team Up! is a simple extension for creating recruitments.</p>
				<p class="mc-note">Create recruitments, participate on them!</p>
				<p class="mc-note">With this tool, you can start recruiting people on your place, and be notified when all of you are ready.</p>
				<div class="mc-right">
					<a href="https://chrome.google.com/webstore/detail/team-up/ggodlfmnafpmahoddgdlngfnhnkfnedj" target="_blank" class="mc-button mc-button-comb mc-button-raised mc-clickable" mc-action="download">Install it now!</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mc-layout" mc-layout="2">
	
	<div class="mc-layout" mc-layout-size="small">
		<div class="mc-card">
			<div class="mc-header">
				<h1 class="mc-title">Use it for everything!</h1>
			</div>
			<div class="mc-content">
				<p class="mc-text">Use this tool for anything. Look for people in your office or in your place for:</p>
				<div mc-layout="list">
					<p class="mc-list-item">Playing ping pong</p>
					<p class="mc-list-item">Take a break</p>
					<p class="mc-list-item">Go for a walk</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mc-layout" mc-layout-size="big">
		<div class="mc-card">
			<div class="mc-content">
				<img src="images/designs/Promo_920x680.png" />
			</div>
		</div>
	</div>
</div>

<div class="mc-layout" mc-layout="1">

	<div class="mc-layout" mc-layout-size="biggest">
		<div class="mc-card">
			<div class="mc-header">
				<p class="mc-title">Be notified when any recruiting is ready.</p>
			</div>
		</div>
	</div>
</div>

<div class="mc-layout" mc-layout="2">

	<div class="mc-layout" mc-layout-size="normal">
		<div class="mc-card">
			<div class="mc-content">
				<img src="images/screens/login.png" />
				<p class="mc-note">Login with no accounts.</p>
			</div>
		</div>
		
		<div class="mc-card">
			<div class="mc-content">
				<img src="images/screens/creating.png" />
				<p class="mc-note">Create your own recruitings.</p>
			</div>
		</div>
	</div>
	
	<div class="mc-layout" mc-layout-size="normal">
		<div class="mc-card">
			<div class="mc-content">
				<img src="images/screens/landing.png" />
				<p class="mc-note">Look for all recruitments.</p>
			</div>
		</div>
		
		<div class="mc-card">
			<div class="mc-content">
				<img src="images/screens/waiting.png" />
				<p class="mc-note">Be notified when your recruitment is ready.</p>
			</div>
		</div>
	</div>
</div>
